In [1]:
from modules.client import OffVarianceClient
from dotenv import dotenv_values

config = dotenv_values('../.env')

client = OffVarianceClient(config.get('OFF_VARIANCE_KEY'), data_path='../data')
games_df = client.get_unfinished_games()

In [2]:
games_df

,id,date_match,date_match_unix,team_1_id,team_1_name,team_2_id,team_2_name,country_id,country_name,league_id,...,odds_open_win1,odds_open_draw,odds_open_win2,odds_open_tm25,odds_open_tb25,odds_close_win1,odds_close_draw,odds_close_win2,odds_close_tm25,odds_close_tb25
0,145804,10.04.2022 16:00:00,1649595600,14845,Brentford,6723,West Ham,291,England,325,...,3.360,3.50,2.280,1.869,1.934,2.620,3.37,2.910,1.840,2.080
1,145806,10.04.2022 16:00:00,1649595600,6719,Leicester,6721,Crystal Palace,291,England,325,...,2.210,3.46,3.560,1.740,1.909,2.620,3.50,2.830,1.925,1.980
2,145809,10.04.2022 16:00:00,1649595600,14857,Norwich,6717,Burnley,291,England,325,...,2.670,3.37,2.850,1.787,2.030,3.150,3.27,2.510,1.684,2.300
3,145807,10.04.2022 18:30:00,1649604600,6711,Manchester City,6714,Liverpool,291,England,325,...,1.990,3.66,3.540,2.250,1.636,2.090,3.69,3.650,2.180,1.757
4,145817,16.04.2022 17:00:00,1650117600,6713,Tottenham,6725,Brighton,291,England,325,...,1.781,3.88,4.870,1.862,1.943,1.606,4.07,5.370,1.900,1.917
5,145816,16.04.2022 17:00:00,1650117600,6727,Southampton,6716,Arsenal,291,England,325,...,3.480,3.68,2.160,2.110,1.806,3.580,3.59,2.030,1.854,1.961
6,145814,16.04.2022 17:00:00,1650117600,6712,Manchester Utd,14857,Norwich,291,England,325,...,1.224,7.12,14.870,2.710,1.502,1.200,6.40,13.990,2.490,1.526
7,145812,16.04.2022 17:00:00,1650117600,6718,Everton,6721,Crystal Palace,291,England,325,...,2.220,3.35,3.650,1.781,2.140,2.670,3.29,2.670,1.740,2.070
8,145818,16.04.2022 17:00:00,1650117600,6724,Watford,14845,Brentford,291,England,325,...,2.590,3.30,3.010,1.800,2.110,2.950,3.26,2.480,1.729,2.110
9,146042,16.04.2022 17:00:00,1650117600,14860,Aston Villa,6714,Liverpool,291,England,325,...,5.150,4.41,1.657,2.590,1.555,6.790,4.32,1.476,2.170,1.689
10,145813,17.04.2022 14:00:00,1650193200,14846,Leeds,6715,Chelsea,291,England,325,...,5.370,4.26,1.657,2.330,1.666,4.830,4.15,1.649,2.240,1.653
11,145819,17.04.2022 16:15:00,1650201300,6723,West Ham,6717,Burnley,291,England,325,...,1.507,4.59,6.950,2.100,1.806,1.613,3.95,5.470,1.793,2.040
12,145815,17.04.2022 16:15:00,1650201300,6720,Newcastle,6719,Leicester,291,England,325,...,2.470,3.52,3.000,2.120,1.800,2.410,3.18,3.130,1.917,1.900
13,145820,17.04.2022 18:30:00,1650209400,6731,Wolves,6711,Manchester City,291,England,325,...,10.380,5.09,1.364,2.180,1.751,9.420,4.89,1.340,2.130,1.719
14,142207,19.04.2022 22:00:00,1650394800,6714,Liverpool,6712,Manchester Utd,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,138308,20.04.2022 21:45:00,1650480300,6715,Chelsea,6716,Arsenal,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,142209,20.04.2022 21:45:00,1650480300,6720,Newcastle,6721,Crystal Palace,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,134596,20.04.2022 21:45:00,1650480300,6718,Everton,6719,Leicester,291,England,325,...,2.720,3.50,2.720,1.910,1.890,2.380,3.54,3.030,2.150,1.746
18,142208,20.04.2022 22:00:00,1650481200,6711,Manchester City,6725,Brighton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,142205,21.04.2022 21:45:00,1650566700,6717,Burnley,6727,Southampton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,150606,23.04.2022 17:00:00,1650722400,14845,Brentford,6713,Tottenham,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,150610,23.04.2022 17:00:00,1650722400,6721,Crystal Palace,14846,Leeds,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,150611,23.04.2022 17:00:00,1650722400,6719,Leicester,14860,Aston Villa,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,150613,23.04.2022 17:00:00,1650722400,6711,Manchester City,6724,Watford,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,150614,23.04.2022 17:00:00,1650722400,14857,Norwich,6720,Newcastle,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,150607,24.04.2022 16:00:00,1650805200,6725,Brighton,6727,Southampton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,150608,24.04.2022 16:00:00,1650805200,6717,Burnley,6731,Wolves,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,150609,24.04.2022 16:00:00,1650805200,6715,Chelsea,6723,West Ham,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,150612,24.04.2022 18:30:00,1650814200,6714,Liverpool,6718,Everton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
games_df.columns.values

array(['id', 'date_match', 'date_match_unix', ..., 'odds_close_win2',
       'odds_close_tm25', 'odds_close_tb25'], dtype=object)

In [4]:
games_df.columns[games_df.columns.str.contains("VI")].values

array(['VI_OVER25_HOME', 'VI_OVER25_AWAY', 'VI_UNDER25_HOME',
       'VI_UNDER25_AWAY', 'VI_WIN_HOME', 'VI_WIN_AWAY', 'VI_NOLOSE_HOME',
       'VI_NOLOSE_AWAY'], dtype=object)

In [5]:
client.get_unfinished_games()

,id,date_match,date_match_unix,team_1_id,team_1_name,team_2_id,team_2_name,country_id,country_name,league_id,...,odds_open_win1,odds_open_draw,odds_open_win2,odds_open_tm25,odds_open_tb25,odds_close_win1,odds_close_draw,odds_close_win2,odds_close_tm25,odds_close_tb25
0,145804,10.04.2022 16:00:00,1649595600,14845,Brentford,6723,West Ham,291,England,325,...,3.360,3.50,2.280,1.869,1.934,2.620,3.37,2.910,1.840,2.080
1,145806,10.04.2022 16:00:00,1649595600,6719,Leicester,6721,Crystal Palace,291,England,325,...,2.210,3.46,3.560,1.740,1.909,2.620,3.50,2.830,1.925,1.980
2,145809,10.04.2022 16:00:00,1649595600,14857,Norwich,6717,Burnley,291,England,325,...,2.670,3.37,2.850,1.787,2.030,3.150,3.27,2.510,1.684,2.300
3,145807,10.04.2022 18:30:00,1649604600,6711,Manchester City,6714,Liverpool,291,England,325,...,1.990,3.66,3.540,2.250,1.636,2.090,3.69,3.650,2.180,1.757
4,145817,16.04.2022 17:00:00,1650117600,6713,Tottenham,6725,Brighton,291,England,325,...,1.781,3.88,4.870,1.862,1.943,1.606,4.07,5.370,1.900,1.917
5,145816,16.04.2022 17:00:00,1650117600,6727,Southampton,6716,Arsenal,291,England,325,...,3.480,3.68,2.160,2.110,1.806,3.580,3.59,2.030,1.854,1.961
6,145814,16.04.2022 17:00:00,1650117600,6712,Manchester Utd,14857,Norwich,291,England,325,...,1.224,7.12,14.870,2.710,1.502,1.200,6.40,13.990,2.490,1.526
7,145812,16.04.2022 17:00:00,1650117600,6718,Everton,6721,Crystal Palace,291,England,325,...,2.220,3.35,3.650,1.781,2.140,2.670,3.29,2.670,1.740,2.070
8,145818,16.04.2022 17:00:00,1650117600,6724,Watford,14845,Brentford,291,England,325,...,2.590,3.30,3.010,1.800,2.110,2.950,3.26,2.480,1.729,2.110
9,146042,16.04.2022 17:00:00,1650117600,14860,Aston Villa,6714,Liverpool,291,England,325,...,5.150,4.41,1.657,2.590,1.555,6.790,4.32,1.476,2.170,1.689
10,145813,17.04.2022 14:00:00,1650193200,14846,Leeds,6715,Chelsea,291,England,325,...,5.370,4.26,1.657,2.330,1.666,4.830,4.15,1.649,2.240,1.653
11,145819,17.04.2022 16:15:00,1650201300,6723,West Ham,6717,Burnley,291,England,325,...,1.507,4.59,6.950,2.100,1.806,1.613,3.95,5.470,1.793,2.040
12,145815,17.04.2022 16:15:00,1650201300,6720,Newcastle,6719,Leicester,291,England,325,...,2.470,3.52,3.000,2.120,1.800,2.410,3.18,3.130,1.917,1.900
13,145820,17.04.2022 18:30:00,1650209400,6731,Wolves,6711,Manchester City,291,England,325,...,10.380,5.09,1.364,2.180,1.751,9.420,4.89,1.340,2.130,1.719
14,142207,19.04.2022 22:00:00,1650394800,6714,Liverpool,6712,Manchester Utd,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,138308,20.04.2022 21:45:00,1650480300,6715,Chelsea,6716,Arsenal,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,142209,20.04.2022 21:45:00,1650480300,6720,Newcastle,6721,Crystal Palace,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,134596,20.04.2022 21:45:00,1650480300,6718,Everton,6719,Leicester,291,England,325,...,2.720,3.50,2.720,1.910,1.890,2.380,3.54,3.030,2.150,1.746
18,142208,20.04.2022 22:00:00,1650481200,6711,Manchester City,6725,Brighton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,142205,21.04.2022 21:45:00,1650566700,6717,Burnley,6727,Southampton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,150606,23.04.2022 17:00:00,1650722400,14845,Brentford,6713,Tottenham,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,150610,23.04.2022 17:00:00,1650722400,6721,Crystal Palace,14846,Leeds,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,150611,23.04.2022 17:00:00,1650722400,6719,Leicester,14860,Aston Villa,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,150613,23.04.2022 17:00:00,1650722400,6711,Manchester City,6724,Watford,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,150614,23.04.2022 17:00:00,1650722400,14857,Norwich,6720,Newcastle,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,150607,24.04.2022 16:00:00,1650805200,6725,Brighton,6727,Southampton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,150608,24.04.2022 16:00:00,1650805200,6717,Burnley,6731,Wolves,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,150609,24.04.2022 16:00:00,1650805200,6715,Chelsea,6723,West Ham,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,150612,24.04.2022 18:30:00,1650814200,6714,Liverpool,6718,Everton,291,England,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN