In [1]:
from modules.client import OffVarianceClient
from dotenv import dotenv_values

config = dotenv_values('../.env')

client = OffVarianceClient(config.get('OFF_VARIANCE_KEY'), data_path='../data')
games_df = client.get_finished_games()

In [2]:
games_df

,id,date_match,date_match_unix,time_first,time_match,team_1_id,team_1_name,team_1_goal,team_2_id,team_2_name,...,team2_away_xgpower_com_xgsumxganoindex,team2_away_xgpower_com_xgxganoindex,team2_away_xgpower_cxm_xg90,team2_away_xgpower_cxm_xga90,team2_away_xgpower_cxm_xgsubxga,team2_away_xgpower_cxm_minutes,team2_away_xgpower_cxm_xg90noindex,team2_away_xgpower_cxm_xga90noindex,team2_away_xgpower_cxm_xgsumxganoindex,team2_away_xgpower_cxm_xgxganoindex
0,85804,13.08.2016 14:30:00,1471087800,47.0,95.0,14861,Hull,2.0,6719,Leicester,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
1,85801,13.08.2016 17:00:00,1471096800,47.0,93.0,6727,Southampton,1.0,6724,Watford,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
2,85802,13.08.2016 17:00:00,1471096800,49.0,93.0,14855,Middlesbrough,1.0,14867,Stoke,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
3,85805,13.08.2016 17:00:00,1471096800,47.0,93.0,6718,Everton,1.0,6713,Tottenham,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,85806,13.08.2016 17:00:00,1471096800,46.0,95.0,6721,Crystal Palace,0.0,14865,West Brom,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69819,142317,13.01.2022 15:20:00,1642080000,46.0,97.0,76326,Al-Gharafa,2.0,76322,Al-Duhail,...,3.63,6.89,2.07,0.49,4.22,25.0,3.21,0.81,4.02,3.96
69820,142319,13.01.2022 15:20:00,1642080000,46.0,93.0,76329,Al Sailiya,0.0,76323,Al Arabi,...,3.61,0.40,0.65,0.52,1.25,48.0,1.01,0.86,1.87,1.17
69821,142314,13.01.2022 18:00:00,1642089600,48.0,93.0,76328,Al Wakra,4.0,76331,Al Khor,...,3.41,1.13,0.00,0.00,0.00,173.0,0.00,0.00,0.00,0.00
69822,130458,13.01.2022 20:00:00,1642096800,46.0,96.0,52356,Famalicao,1.0,24075,Belenenses,...,2.38,0.45,0.00,0.00,0.00,192.0,0.00,0.00,0.00,0.00
69823,134572,13.01.2022 21:30:00,1642102200,47.0,93.0,9125,Benevento,3.0,41484,Monza,...,1.21,1.12,0.33,1.13,0.29,49.0,0.33,1.15,1.48,0.29

In [3]:
games_df.columns.values

array(['id', 'date_match', 'date_match_unix', ...,
       'team2_away_xgpower_cxm_xga90noindex',
       'team2_away_xgpower_cxm_xgsumxganoindex',
       'team2_away_xgpower_cxm_xgxganoindex'], dtype=object)

In [4]:
client.get_unfinished_games()

,id,date_match,date_match_unix,team_1_id,team_1_name,team_2_id,team_2_name,country_id,country_name,league_id,...,odds_open_win1,odds_open_draw,odds_open_win2,odds_open_tm25,odds_open_tb25,odds_close_win1,odds_close_draw,odds_close_win2,odds_close_tm25,odds_close_tb25
0,133151,16.01.2022 16:00:00,1642341600,123969,Trofense,80180,FC Porto B,779,Portugal,4622,...,2.26,3.42,3.35,1.79,2.01,0.0,0.0,0.0,0.0,0.0
1,134630,16.01.2022 17:00:00,1642345200,25875,Eupen,25878,Cercle Brugge KSV,806,Belgium,807,...,3.08,3.60,2.32,1.89,1.77,0.0,0.0,0.0,0.0,0.0
2,132016,16.01.2022 17:15:00,1642346100,23411,AEK Athens FC,23413,Panetolikos,776,Greece,786,...,1.23,5.77,10.57,1.94,1.72,0.0,0.0,0.0,0.0,0.0
3,135187,16.01.2022 17:15:00,1642346100,41484,Monza,9712,Perugia,289,Italy,515,...,2.12,3.20,3.93,1.76,2.10,0.0,0.0,0.0,0.0,0.0
4,135188,16.01.2022 17:15:00,1642346100,41480,Pordenone,9723,Lecce,289,Italy,515,...,4.53,3.35,1.96,1.79,1.91,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,140028,05.02.2022 17:00:00,1644073200,26955,Shrewsbury,26952,Fleetwood,291,England,1111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,140029,05.02.2022 17:00:00,1644073200,26972,Sunderland,26960,Doncaster,291,England,1111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,140115,05.02.2022 17:00:00,1644073200,26946,Burton,14862,Sheffield Wed,291,England,1111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,141544,05.02.2022 17:00:00,1644073200,14847,Wigan,36883,Crewe,291,England,1111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,135284,05.02.2022 17:30:00,1644075000,23659,Utrecht,50388,Cambuur,777,Netherlands,784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN