In [1]:
from modules.client import OffVarianceClient
import modules.strategy as strategy
import modules.utils as utils
from dotenv import dotenv_values

config = dotenv_values('../.env')

client = OffVarianceClient(config.get('OFF_VARIANCE_KEY'), data_path='../data')
games_df = client.get_unfinished_games()
games_df = utils.filter_correct_unfinished_games(games_df)

utils.populate_unfinished_metrics(games_df)

In [2]:
games_df

,id,date_match,date_match_unix,team_1_id,team_1_name,team_2_id,team_2_name,country_id,country_name,league_id,...,udi_tm25,udi_tb25,simple_expected_difference,simple_expected_difference_loc,simple_expected_total_value,simple_expected_total_value_loc,expected_difference,expected_total,expected_difference_loc,expected_total_loc
0,142214,02.04.2022 17:00:00,1648908000,6717,Burnley,6711,Manchester City,291,England,325,...,0.194215,-0.091364,-1.51,-1.25,5.23,5.21,-1.8000,2.7100,-1.6995,2.7885
1,145802,02.04.2022 17:00:00,1648908000,6731,Wolves,14860,Aston Villa,291,England,325,...,0.065719,-0.070485,0.07,0.20,4.59,4.73,0.2043,1.9617,-0.0759,2.0073
2,145799,02.04.2022 17:00:00,1648908000,6725,Brighton,14857,Norwich,291,England,325,...,0.020496,-0.064216,0.38,0.49,4.93,4.82,1.0754,2.2534,0.9544,1.9424
3,142219,02.04.2022 17:00:00,1648908000,6712,Manchester Utd,6719,Leicester,291,England,325,...,-0.027344,0.025129,0.58,0.79,5.82,5.65,1.1753,3.3795,1.1280,3.0900
4,142218,02.04.2022 17:00:00,1648908000,6714,Liverpool,6724,Watford,291,England,325,...,-0.025496,0.008359,1.64,1.76,6.11,6.19,2.8300,4.0996,2.8670,3.9770
5,142217,02.04.2022 17:00:00,1648908000,14846,Leeds,6727,Southampton,291,England,325,...,0.034335,-0.015124,0.09,0.33,5.99,6.23,0.1248,3.3852,0.0532,3.6708
6,142215,02.04.2022 17:00:00,1648908000,6715,Chelsea,14845,Brentford,291,England,325,...,0.101010,-0.082766,0.38,0.61,4.94,5.26,1.0124,2.4076,1.3584,2.7248
7,145801,03.04.2022 16:00:00,1648990800,6723,West Ham,6718,Everton,291,England,325,...,0.121006,-0.095939,0.61,0.89,4.93,4.75,0.7660,2.3620,0.8940,2.1636
8,145800,03.04.2022 18:30:00,1648999800,6713,Tottenham,6720,Newcastle,291,England,325,...,0.127451,-0.091694,0.60,0.88,5.10,5.07,1.3032,2.6952,1.1936,2.5376
9,142216,04.04.2022 22:00:00,1649098800,6721,Crystal Palace,6716,Arsenal,291,England,325,...,0.049828,-0.036866,-0.41,0.32,4.86,4.76,-0.2310,2.1898,0.3999,2.1761
10,135215,06.04.2022 21:30:00,1649269800,6717,Burnley,6718,Everton,291,England,325,...,0.084979,-0.050000,-0.08,0.27,4.49,4.59,-0.0115,1.8449,-0.0558,2.0046
11,145808,08.04.2022 22:00:00,1649444400,6720,Newcastle,6731,Wolves,291,England,325,...,0.066792,-0.038462,-0.09,0.09,4.74,4.82,-0.0628,2.1030,-0.5381,2.3309
12,145803,09.04.2022 17:00:00,1649512800,14860,Aston Villa,6713,Tottenham,291,England,325,...,0.084211,-0.040167,-0.56,-0.37,4.65,4.76,-0.4555,2.0715,-0.8593,2.3837
13,145805,09.04.2022 17:00:00,1649512800,6718,Everton,6712,Manchester Utd,291,England,325,...,0.160043,-0.093750,-0.80,-0.47,5.09,5.42,-0.3872,2.4464,-0.2484,2.6676
14,145810,09.04.2022 17:00:00,1649512800,6727,Southampton,6715,Chelsea,291,England,325,...,0.169333,-0.107960,-0.34,-0.09,5.04,4.89,-0.7850,2.4482,-0.8700,2.5200
15,145811,09.04.2022 17:00:00,1649512800,6724,Watford,14846,Leeds,291,England,325,...,0.038835,-0.039570,-0.33,-0.42,5.63,5.76,0.0541,3.0061,-0.5654,2.9562
16,146041,09.04.2022 17:00:00,1649512800,6716,Arsenal,6725,Brighton,291,England,325,...,0.018753,-0.033333,0.46,0.89,4.74,5.19,0.7366,2.2654,1.1161,2.6281
17,145804,10.04.2022 16:00:00,1649595600,14845,Brentford,6723,West Ham,291,England,325,...,0.090432,-0.096262,-0.33,-0.21,5.14,5.21,-0.1440,2.5760,-0.0388,2.6188
18,145806,10.04.2022 16:00:00,1649595600,6719,Leicester,6721,Crystal Palace,291,England,325,...,-0.104478,0.017048,0.07,0.42,4.84,4.96,0.0033,2.2217,0.1042,2.1958
19,145809,10.04.2022 16:00:00,1649595600,14857,Norwich,6717,Burnley,291,England,325,...,0.123193,-0.139831,-0.14,0.17,4.75,4.93,-0.2446,1.8286,0.0345,1.9545
20,145807,10.04.2022 18:30:00,1649604600,6711,Manchester City,6714,Liverpool,291,England,325,...,0.051402,-0.042715,-0.30,0.09,6.25,6.37,0.5141,2.7841,1.1280,3.1440

In [3]:
strategy.filter_games(games_df)

C:\Users\user\offvariance\notebooks\modules\strategy.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  away_win_games_df['bet_type'] = '2'
C:\Users\user\offvariance\notebooks\modules\strategy.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  away_win_games_df['odds_open'] = away_win_games_df['odds_open_win2']
C:\Users\user\offvariance\notebooks\modules\strategy.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  away_win_games_df['odds_close'] = away_win_games_df['odds_close_win2']
C:\Users\user\offvariance\notebooks\modules\strategy.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  away_win_games_df['udi'] = away_win_games_df['udi_win2']

,id,date_match,country_name,team_1_name,team_2_name,bet_type,odds_open,odds_close,odds_min,udi
7,145801,03.04.2022 16:00:00,England,West Ham,Everton,U2.5,2.140,1.909,2.038095,0.121006
12,145803,09.04.2022 17:00:00,England,Aston Villa,Tottenham,2,2.610,2.320,2.439252,0.125000
13,145805,09.04.2022 17:00:00,England,Everton,Manchester Utd,2,1.961,1.819,1.832710,0.078065
14,145810,09.04.2022 17:00:00,England,Southampton,Chelsea,2,1.813,1.724,1.694393,0.051624
12,145803,09.04.2022 17:00:00,England,Aston Villa,Tottenham,U2.5,2.060,1.900,1.961905,0.084211
13,145805,09.04.2022 17:00:00,England,Everton,Manchester Utd,U2.5,2.160,1.862,2.057143,0.160043
14,145810,09.04.2022 17:00:00,England,Southampton,Chelsea,U2.5,2.120,1.813,2.019048,0.169333
17,145804,10.04.2022 16:00:00,England,Brentford,West Ham,2,2.280,2.330,2.130841,-0.021459